nav 
    .logo-container 
        img(src="#", alt="site logo")
    ul.nav-menu-container 
        li 
            a(href="/") HOME
        li 
            a(href="gallery") GALLERY
        li 
            a(href="board") BOARD
